#btnLogin {background-color: #a0cc86;font-weight: bold;outline: none;box-shadow:1px 5px 10px #888;}
#btnLogin:hover{background-color: #ff2c27;color: white;}
/*设置form表单的样式*/
div[role='form']{float: right;background-color: #ccc;margin: 15% 8% 0 5%;padding: 50px 70px 20px 20px;box-shadow:4px 5px 10px #888;}

/*设置alert插件的位置*/
.xcConfirm .popBox {
    position: fixed;
    left: 31%;
    background-color: #ffffff;
    z-index: 2147000001;
    width: 40%;
    height: 255px;
    border-radius: 5px;
    font-weight: bold;
    color: #535e66;
    top: 25%;
}