/*搜索框*/
#searchInput{height: 250px;width: 100%;background-color: #78ffa8;}
#searchInput input{width: 100%;height: 40px;font-weight: bold;font-size: 16px;}
#searchInput  a{background-color: red;height: 38px;display: inline-block;line-height: 40px;width: 100px;text-decoration: none;color: white;}
#searchInput a:hover{background-color: #ff5a47;}
#searchInput div .search-input span{margin-top: 3px;}
#searchInput div .search-input span:hover{color: #686868;}
.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: painted;
}
/*相关课程菜单*/
#courseMenu{height: 80px;}
#courseMenu ul{padding: 20px 0 0;list-style: none;width: 80%;margin: 0 auto;}
#courseMenu ul li{font-weight: bold;font-size: 20px;cursor: hand;float: left;}
#courseMenu ul li strong{border-bottom: 2px solid red;padding-bottom: 10px;}
/*搜索课程信息*/
#searchCourseInfo ul{padding: 20px 0 10px;list-style: none;width: 80%;margin: 0 auto;height: 200px;}
#searchCourseInfo ul li{float: left;margin-right: 30px;width: 20%;}
#searchCourseInfo ul li:last-child{width: 70%;overflow: auto;}
#searchCourseInfo ul li img{width: 100%;height: 150px;}
#searchCourseInfo ul li img:hover{box-shadow:2px 2px 5px #888;}

#searchCourseInfo p{padding: 20px 0 10px;list-style: none;width: 80%;margin: 0 auto;height: 200px;}